<div *ngIf="!isFinish">
  <div class="container w-50">
    <div class="row">
      <div class="col-6">
        <ng-container *ngFor="let product of listCart">
          <div class="d-flex mb-3 position-relative">
            <button (click)="removeItem(product.id)" class="btn-delete text-danger">Delete</button>
            <img src="{{ product.url }}" class="img-item-cart me-5" alt="" />
            <div class="d-flex flex-column align-items-start">
              <a routerLink="/detail/{{product.id}}" class="fw-bold">{{ product.name }}</a>
              <p class="">${{ product.price }}</p>
              <div class="d-flex">
                <p class="me-2 mb-0">Amount:</p>
                <input
                  class="input-amout"
                  [(ngModel)]="product.amount"
                  type="text"
                  (change)="changeAmount(product.id, product.amount)"
                />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-6">
        <form #form="ngForm" class="d-flex flex-column" (ngSubmit)="onSubmit()">
          <div class="mb-2 d-flex flex-column">
            <label class="">Full name</label>
            <input
              class="input-form"
              type="text"
              name="full-name"
              required
              minlength="3"
              [(ngModel)]="fullName"
              #formFullName="ngModel"
              placeholder="(minimum 3 characters)"
            />
            <div
              *ngIf="
                formFullName.invalid &&
                formFullName.dirty &&
                formFullName.touched
              "
            >
              <div *ngIf="formFullName.errors?.required">
                Please provide full name.
              </div>
              <div *ngIf="formFullName.errors?.minlength">
                Full name must contain at least 3 characters.
              </div>
            </div>
          </div>
          <div class="mb-2 d-flex flex-column">
            <label class="">Address</label>
            <input
              class="input-form"
              type="text"
              name="address"
              required
              minlength="6"
              [(ngModel)]="address"
              #formAddress="ngModel"
              placeholder="(minimum 6 characters)"
            />

            <div
              *ngIf="
                formAddress.invalid && formAddress.dirty && formAddress.touched
              "
            >
              <div *ngIf="formAddress.errors?.required">
                Please provide address.
              </div>
              <div *ngIf="formAddress.errors?.minlength">
                Adress must contain at least 6 characters.
              </div>
            </div>
          </div>

          <div class="mb-2 d-flex flex-column">
            <label class="">Credit card number</label>
            <input
              class="input-form"
              type="text"
              name="credit-card-number"
              required
              minlength="10"
              maxlength="10"
              placeholder="(16-digit number)"
              [(ngModel)]="creditCard"
              #formCreditCard="ngModel"
            />
            <div
              *ngIf="
                formCreditCard.invalid &&
                formCreditCard.dirty &&
                formCreditCard.touched
              "
            >
              <div *ngIf="formCreditCard.errors?.required">
                Please provide credit Card.
              </div>
              <div *ngIf="formCreditCard.errors?.minlength">
                Credit cards need to have 10 digits.
              </div>
            </div>
          </div>

          <button
            [disabled]="form.invalid"
            class="mt-3 btn btn-primary w100"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    <h3 class="mt-2">Total: ${{ total }}</h3>
  </div>
</div>

<app-success-page
  *ngIf="isFinish"
  [name]="fullName"
  [total]="total"
></app-success-page>
