<div>
  <div class="container text-center w-50">
    <div class="row">
      <div class="col-4">
        <img
          class="img-fluid rounded ms-3 me-3"
          src="{{ product?.url }}"
          alt=""
        />
      </div>
      <div class="col-8">
        <div class="d-flex flex-column align-items-start m-5">
          <h3>{{ product?.name }}</h3>
          <p class="">${{ product?.price }}</p>
          <p class="">{{ product?.description }}</p>
          <input
            type="number"
            id="quantity"
            name="quantity"
            min="1"
            style="width: 60px"
            class="mb-2 wp-100"
            [(ngModel)]="quantity"
          />
          <button class="btn btn-primary wp-100" type="button">
            Add to cart
          </button>
          <a routerLink="/">Back to product list</a>
        </div>
      </div>
    </div>
  </div>
</div>
