<div
  class="w-75 p-2 d-flex flex-column justify-content-center align-items-center"
>
  <a routerLink="/detail/1">
    <img class="img-fluid p-4 border" src="{{ product.url }}" alt="" />
    <p class="mb-2">{{ product.name }}</p>
  </a>
  <p class="fw-bold mb-2">${{ product.price }}</p>
  <input
    type="number"
    id="quantity"
    name="quantity"
    min="1"
    style="width: 60px"
    class="mb-2"
    [(ngModel)]="quantity"
  />
  <button class="btn btn-primary" type="button">Add to cart</button>
</div>
